@page
@model WebAuthent.Pages.Atencion.Empleados.CreateModel

@{
    ViewData["Title"] = "Empleado";
}

<h1>Empleado</h1>

<h4>CatEmpleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatEmpleado.IdEmpleado" class="control-label"></label>
                <input asp-for="CatEmpleado.IdEmpleado" class="form-control" />
                <span asp-validation-for="CatEmpleado.IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatEmpleado.Nombre" class="control-label"></label>
                <input asp-for="CatEmpleado.Nombre" class="form-control" />
                <span asp-validation-for="CatEmpleado.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatEmpleado.ApellidoPaterno" class="control-label"></label>
                <input asp-for="CatEmpleado.ApellidoPaterno" class="form-control" />
                <span asp-validation-for="CatEmpleado.ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatEmpleado.ApellidoMaterno" class="control-label"></label>
                <input asp-for="CatEmpleado.ApellidoMaterno" class="form-control" />
                <span asp-validation-for="CatEmpleado.ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatEmpleado.IdMunicipio" class="control-label"></label>
                <select asp-for="CatEmpleado.IdMunicipio" class ="form-control" asp-items="ViewBag.IdMunicipio"></select>
            </div>
            <div class="form-group">
                <label asp-for="CatEmpleado.IdSede" class="control-label"></label>
                <select asp-for="CatEmpleado.IdSede" class ="form-control" asp-items="ViewBag.IdSede"></select>
            </div>
            <div class="form-group">
                <label asp-for="CatEmpleado.Usuario" class="control-label"></label>
                <input asp-for="CatEmpleado.Usuario" class="form-control" />
                <span asp-validation-for="CatEmpleado.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatEmpleado.Contraseña" class="control-label"></label>
                <input asp-for="CatEmpleado.Contraseña" class="form-control" />
                <span asp-validation-for="CatEmpleado.Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
